language: node_js

node_js:
  - "5.6"
  - "4.3"

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      # install C++ compiler for node
      - g++-4.8

cache:
  directories:
    - node_modules

before_install:
  # install npm3
  - npm install -g npm
  - npm --version

before_script:
  # start firefox
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - make lint
  - make build
  - make run > /dev/null &
  - sleep 25
  - make test_full
